<!-- 
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<div class="container">

    <h3>Update Order Book</h3>

    <form #userForm="ngForm" (ngSubmit)='onUpdate(userForm.value)'>

        <div class="form-group">

            <label>Order Book ID: </label>

            <input required minlength="1" type="number" [(ngModel)]="obj1.orderId" readonly="readonly" #bookIdRef='ngModel'
                name="id" ngModel class="form-control">

        </div>
        <div class="form-group">

            <label>Book Title: </label>
    
            <input required minlength="6" type="text" #bookNameRef='ngModel' name="title" [(ngModel)]='obj1.books.title' ngModel class="form-control"/>
    
            <div *ngIf='bookNameRef.errors
                        && bookNameRef.touched' class="alert alert-danger">
                <div *ngIf='bookNameRef.errors.required'>Provide Book Title </div>
                 <div *ngIf='!bookNameRef.errors.pattern'>Title should be minimum of 6 characters length</div> 
            </div> 
    
        </div>
        <div class="form-group">
    
            <label>Book Subject: </label>
    
            <input required minlength="10" length="10" type="text" #booksubRef='ngModel' name="title" [(ngModel)]='obj1.books.subject' ngModel class="form-control">
    
            <div *ngIf='booksubRef.errors && booksubRef.touched' class="alert alert-danger">
    
                <div [hidden]='!booksubRef.errors.required'> Provide Book cost </div>
    
            </div>
        </div>
    
        <div class="form-group">
    
            <label>Published Year: </label>
    
            <input  type="number" #bookpubRef='ngModel'  name="publishedyear" [(ngModel)]='obj1.books.publishedYear' ngModel class="form-control">
    
            <div *ngIf='bookpubRef.errors && bookpubRef.touched' class="alert alert-danger">
    
                <div [hidden]='!bookpubRef.errors.required'> Provide Book Publish Year </div>
    
                <div [hidden]='bookpubRef.errors.pattern'>Publish year should consists of 4 digits</div> 
    
            </div>
        </div>
    
        <div class="form-group">
    
            <label>isbnCode: </label>
    
            <input required minlength="6" type="text" #isbnCode='ngModel' name="isbn" [(ngModel)]='obj1.books.isbnCode' ngModel
                class="form-control">
    
            <div *ngIf='isbnCode.errors
                        && isbnCode.touched' class="alert alert-danger">
    
                <div [hidden]='!isbnCode.errors.required'>
    
                    Provide isbn code
                </div>
                <div [hidden]='isbnCode.errors.pattern'>isbn Code should be minimum of 6 characters length</div>
    
            </div>
    
        </div>
        <div class="form-group">
    
            <label>quantity: </label>
    
            <input required minlength="1" type="number" #quantity='ngModel' name="quantity" [(ngModel)]='obj1.books.quantity' ngModel
                class="form-control">
    
            <div *ngIf='quantity.errors
                        && quantity.touched' class="alert alert-danger">
    
                <div [hidden]='!quantity.errors.required'>
    
                    Provide isbn code
                </div>
                <div [hidden]='quantity.errors.pattern'>quantity should be minimum of 1 characters length</div>
    
            </div>
    
        </div>
        <div class="form-group">
    
            <label>bookCost: </label>
    
            <input required minlength="1" type="number" #bookCost='ngModel' name="bookCost" [(ngModel)]='obj1.books.bookCost' ngModel
                class="form-control">
    
            <div *ngIf='bookCost.errors
                        && bookCost.touched' class="alert alert-danger">
    
                <div [hidden]='!bookCost.errors.required'>
    
                    Provide isbn code
                </div>
                <div [hidden]='bookCost.errors.pattern'>Book Cost should be minimum of 1 characters length</div>
    
            </div>
    
        </div>
        <div class="form-group">
    
            <label>shelfDetails: </label>
    
            <input required minlength="1" type="text" #shelfDetails='ngModel' name="shelfDetails" [(ngModel)]='obj1.books.shelfDetails' ngModel
                class="form-control">
    
            <div *ngIf='shelfDetails.errors
                        && shelfDetails.touched' class="alert alert-danger">
    
                <div [hidden]='!shelfDetails.errors.required'>
    
                    Provide isbn code
                </div>
                <div [hidden]='shelfDetails.errors.pattern'>shelf Details should be minimum of 1 characters length</div>
    
            </div>
    
        </div>
        <div class="form-group">
    
            <label>Author first name </label>
    
            <input required minlength="1" type="text" #firstname='ngModel' name="firstname" [(ngModel)]='obj1.books.author.firstName' ngModel
                class="form-control">
    
            <div *ngIf='firstname.errors
                        && firstname.touched' class="alert alert-danger">
    
                <div [hidden]='!firstname.errors.required'>
    
                    Provide isbn code
                </div>
                <div [hidden]='firstname.errors.pattern'>first name should be minimum of 1 characters length</div>
    
            </div>
    
        </div>
    
        <div class="form-group">
    
            <label>Author last name </label>
    
            <input required minlength="1" type="text" #lastname='ngModel' name="lastname" [(ngModel)]='obj1.books.author.lastName' ngModel
                class="form-control">
    
            <div *ngIf='lastname.errors
                        && lastname.touched' class="alert alert-danger">
    
                <div [hidden]='!lastname.errors.required'>
    
                    Provide isbn code
                </div>
                <div [hidden]='lastname.errors.pattern'>last name should be minimum of 1 characters length</div>
    
            </div>
    
        </div>
    
        <div class="form-group">
    
            <label>Author email </label>
    
            <input required minlength="1" type="email" #email='ngModel' name="email" [(ngModel)]='obj1.books.author.email' ngModel
                class="form-control">
    
            <div *ngIf='email.errors
                        && email.touched' class="alert alert-danger">
    
                <div [hidden]='!email.errors.required'>
    
                    Provide isbn code
                </div>
                <div [hidden]='email.errors.pattern'>email should be minimum of 1 characters length</div>
    
            </div>
    
        </div>
    
        <div class="form-group">
    
            <label>Author contact number </label>
    
            <input required minlength="1" type="number" #num='ngModel' name="contactno" [(ngModel)]='obj1.books.author.contactno' ngModel
                class="form-control">
    
            <div *ngIf='num.errors
                        && num.touched' class="alert alert-danger">
    
                <div [hidden]='!num.errors.required'>
    
                    Provide isbn code
                </div>
                <div [hidden]='num.errors.pattern'>number should be minimum of 1 characters length</div>
    
            </div>
    
        </div>
        <div class="form-group">
    
            <label>Publisher Name </label>
    
            <input required minlength="1" type="text" #pubname='ngModel' name="name" [(ngModel)]='obj1.books.publisher.publisherName' ngModel
                class="form-control">
    
            <div *ngIf='pubname.errors
                        && pubname.touched' class="alert alert-danger">
    
                <div [hidden]='!pubname.errors.required'>
    
                    Provide isbn code
                </div>
                <div [hidden]='pubname.errors.pattern'>Publisher name should be minimum of 1 characters length</div>
    
            </div>
            </div>
            <div class="form-group">
    
                <label>Publisher contact number </label>
        
                <input required minlength="1" type="number" #pubcont='ngModel' name="number" [(ngModel)]='obj1.books.publisher.contactno' ngModel
                    class="form-control">
        
                <div *ngIf='pubcont.errors
                            && pubcont.touched' class="alert alert-danger">
        
                    <div [hidden]='!pubcont.errors.required'>
        
                        Provide isbn code
                    </div>
                    <div [hidden]='pubcont.errors.pattern'>Publisher number should be minimum of 1 characters length</div>
        
                </div>
    
        </div>

        <div class="form-group">
    
            <label>Publisher Email </label>
    
            <input required minlength="1" type="email" #pubemail='ngModel' name="email" [(ngModel)]='obj1.books.publisher.email' ngModel
                class="form-control">
    
            <div *ngIf='pubemail.errors
                        && pubemail.touched' class="alert alert-danger">
    
                <div [hidden]='!pubemail.errors.required'>
    
                    Provide isbn code
                </div>
                <div [hidden]='pubemail.errors.pattern'>Publisher email should be minimum of 1 characters length</div>
    
            </div>
    
    </div>
    <div class="form-group">
    
        <label>Publisher Address1 </label>
    
        <input required minlength="1" type="text" #pubadd1='ngModel' name="address" [(ngModel)]='obj1.books.publisher.address1' ngModel
            class="form-control">
    
        <div *ngIf='pubadd1.errors
                    && pubadd1.touched' class="alert alert-danger">
    
            <div [hidden]='!pubadd1.errors.required'>
    
                Provide isbn code
            </div>
            <div [hidden]='pubadd1.errors.pattern'>Publisher address should be minimum of 1 characters length</div>
    
        </div>
    
    </div>
    <div class="form-group">
    
        <label>Publisher Address2 </label>
    
        <input required minlength="1" type="text" #pubadd2='ngModel' name="address" [(ngModel)]='obj1.books.publisher.address2' ngModel
            class="form-control">
    
        <div *ngIf='pubadd2.errors
                    && pubadd2.touched' class="alert alert-danger">
    
            <div [hidden]='!pubadd2.errors.required'>
    
                Provide isbn code
            </div>
            <div [hidden]='pubadd2.errors.pattern'>Publisher address should be minimum of 1 characters length</div>
    
        </div>
        </div>
        <div class="form-group">
    
            <label>Publisher City </label>
        
            <input required minlength="1" type="text" #pubcity='ngModel' name="city" [(ngModel)]='obj1.books.publisher.city' ngModel
                class="form-control">
        
            <div *ngIf='pubcity.errors
                        && pubcity.touched' class="alert alert-danger">
        
                <div [hidden]='!pubcity.errors.required'>
        
                    Provide isbn code
                </div>
                <div [hidden]='pubcity.errors.pattern'>Publisher city should be minimum of 1 characters length</div>
        
            </div>
    
    </div>
    <div class="form-group">
    
        <label>Publisher State </label>
    
        <input required minlength="1" type="text" #pubstate='ngModel' name="state" [(ngModel)]='obj1.books.publisher.state' ngModel
            class="form-control">
    
        <div *ngIf='pubstate.errors
                    && pubstate.touched' class="alert alert-danger">
    
            <div [hidden]='!pubstate.errors.required'>
    
                Provide isbn code
            </div>
            <div [hidden]='pubstate.errors.pattern'>Publisher state should be minimum of 1 characters length</div>
    
        </div>
    
    </div>
    <div class="form-group">
    
        <label>Publisher Pincode </label>
    
        <input required minlength="1" type="text" #pubpin='ngModel' name="pin" [(ngModel)]='obj1.books.publisher.pincode' ngModel
            class="form-control">
    
        <div *ngIf='pubpin.errors
                    && pubpin.touched' class="alert alert-danger">
    
            <div [hidden]='!pubpin.errors.required'>
    
                Provide isbn code
            </div>
            <div [hidden]='pubpin.errors.pattern'>Publisher pincode should be minimum of 1 characters length</div>
    
        </div>
    
    </div>
    
    <div class="form-group">

        <label>Order quantity </label>
    
        <input required minlength="1" type="number" #odqnt='ngModel' name="quantity" [(ngModel)]='obj1.quantity' ngModel
            class="form-control">
    
        <div *ngIf='odqnt.errors
                    && odqnt.touched' class="alert alert-danger">
    
            <div [hidden]='!odqnt.errors.required'>
    
                Provide Order Quantity 
            </div>
            <div [hidden]='odqnt.errors.pattern'>Order quantity should be minimum of 1 characters length</div>
    
        </div>
    
    </div>
    
    <div class="form-group">
    
        <label>Order Date </label>
    
        <input required minlength="1" type="date" #oddate='ngModel' name="date" [(ngModel)]='obj1.date' ngModel
            class="form-control">
    
        <div *ngIf='oddate.errors
                    && oddate.touched' class="alert alert-danger">
    
            <div [hidden]='!oddate.errors.required'>
    
                Provide Order date
            </div>
            <div [hidden]='oddate.errors.pattern'>Order quantity should be minimum of 1 characters length</div>
    
        </div>
    
    </div>
    <div class="form-group">
    
        <label>Order Status </label>
    
        <input required minlength="1" type="date" #odstat='ngModel' name="date" [(ngModel)]='obj1.orderStatus' ngModel
            class="form-control">
    
        <div *ngIf='odstat.errors
                    && odstat.touched' class="alert alert-danger">
    
            <div [hidden]='!odstat.errors.required'>
    
                Provide Order date
            </div>
            <div [hidden]='odstat.errors.pattern'>Order status should be minimum of 1 characters length</div>
    
        </div>
    
    </div>

      
        <input [disabled]="userForm.invalid" type="submit" value="Edit Book" class="btn btn-primary">

    </form>

</div>
<div>
    <h2>{{message}}</h2>
</div> -->
<div class="container" style="background-color: white; margin-bottom: 50px; margin-top: 50px;">
    <form #userForm="ngForm" (ngSubmit)='onUpdate(userForm.value)'>
        <div class="row">
            <div class="col-md-4">
                <h3>Book</h3>
                <div class="form-group">
                    <label>Book id:</label>
                    <input required minlength="1" type="number" [(ngModel)]="obj1.books.bookid" readonly="readonly" #bookIdRef='ngModel'
            name="id" ngModel class="form-control"  placeholder = "Book_Id">
                </div>
                <div class="form-group">
                    <label>Book Title:</label>
                    <input required minlength="6" type="text"[class.is-invalid]="bookNameRef.invalid && bookNameRef.touched" #bookNameRef='ngModel' placeholder=" Book Title" name="title" [(ngModel)]='obj1.books.title' ngModel class="form-control"/>
                    <small class="text-danger" [class.d-none]="bookNameRef.valid || bookNameRef.untouched">Book Title is required</small>
                </div>
               
                <div class="form-group">
                    <label>Book Subject: </label><br>
                    <input required minlength="10" length="10" [class.is-invalid]="booksubRef.invalid && booksubRef.touched" type="text" placeholder="Subject" #booksubRef='ngModel' name="title" [(ngModel)]='obj1.books.subject' ngModel class="form-control"> 
            <small class="text-danger" [class.d-none]="booksubRef.valid || booksubRef.untouched">book subject is required</small>

                </div>
                
                <div class="form-group">
                    <label>Published Year: </label><br>
   <input  type="number" #bookpubRef='ngModel' [class.is-invalid]="bookpubRef.invalid && bookpubRef.touched" name="publishedyear" placeholder = "Publishd Year" [(ngModel)]='obj1.books.publishedYear' ngModel class="form-control">
                    <small class="text-danger" [class.d-none]="bookpubRef.valid || bookpubRef.untouched">publisher year is required</small>

                </div>
                
                <div class="form-group">
                    <label>Isbn Code: </label><br>
                    <input required minlength="6" type="text" [class.is-invalid]="isbnCode.invalid && isbnCode.touched" #isbnCode='ngModel' placeholder = "ISBN Code" name="isbn" [(ngModel)]='obj1.books.isbnCode' ngModel
                    class="form-control">
                    <small class="text-danger" [class.d-none]="isbnCode.valid || isbnCode.untouched">Isbn code required</small>
                </div>

                <div class="form-group">
                    <label>Quantity: </label><br>
                    <input required minlength="1" [class.is-invalid]="quantity.invalid && quantity.touched" type="number" placeholder = "Quantity" #quantity='ngModel' name="quantity" [(ngModel)]='obj1.books.quantity' ngModel
                    class="form-control">
                    <small class="text-danger" [class.d-none]="quantity.valid || quantity.untouched">Quantity is required</small>

                </div>
                <div class="form-group">
                    <label>Book Cost: </label><br>
                 <input required minlength="1" [class.is-invalid]="bookCost.invalid && bookCost.touched" type="number" placeholder="BookCost" #bookCost='ngModel' name="bookCost" [(ngModel)]='obj1.books.bookCost' ngModel
                    class="form-control">
                    <small class="text-danger" [class.d-none]="bookCost.valid || bookCost.untouched">BookCost is required</small>
                </div>

                <div class="form-group">
                    <label>shelfDetails: </label><br>
                    <input required minlength="1" [class.is-invalid]="shelfDetails.invalid && shelfDetails.touched" placeholder = "Shelf Details" type="text" #shelfDetails='ngModel' name="shelfDetails" [(ngModel)]='obj1.books.shelfDetails' ngModel
                    class="form-control">
                    <small class="text-danger" [class.d-none]="shelfDetails.valid || shelfDetails.untouched">Shelf Detail is required</small>

                </div>

            </div>
            <div class="col-md-4">
                <h3>Author details</h3>
                <div class="form-group">
                    <label>FirstName :</label><br>
                    <input required  type="text" [class.is-invalid]="firstname.invalid && firstname.touched" #firstname='ngModel' name="firstname" [(ngModel)]='obj1.books.author.firstName' ngModel
                class="form-control"> 
            <small class="text-danger" [class.d-none]="firstname.valid || firstname.untouched">FirstName is required</small>
                </div>
                <div class="form-group">
                    <label>LastName :</label><br>
                    <input required  type="text" [class.is-invalid]="lastname.invalid && lastname.touched" #lastname='ngModel' name="lastname" [(ngModel)]='obj1.books.author.lastName' ngModel
                    class="form-control">
                <small class="text-danger" [class.d-none]="lastname.valid || lastname.untouched">LastName is required</small>
                </div>
                <div class="form-group">
                    <label> Email: </label>
                    <input required  type="email" [class.is-invalid]="email.invalid && email.touched" #email='ngModel' name="email" [(ngModel)]='obj1.books.author.email' ngModel
                class="form-control">
            <small class="text-danger" [class.d-none]="pubname.valid || pubname.untouched">Email is required</small>
                </div>

                <div class="form-group">
                    <label>Contact Number: </label>
                    <input required minlength="10" type="number" [class.is-invalid]="num.invalid && num.touched" #num='ngModel' name="contactno" [(ngModel)]='obj1.books.author.contactno' ngModel
                class="form-control">
                <div *ngIf="num.errors && (num.invalid || num.touched)" class="alert alert-danger">
                    <div *ngIf="num.errors.required"> Contact number is required. </div>
                    <div *ngIf="num.errors.pattern"> Must contain at least 10 digits in this field</div>
                </div>
                </div>

            </div>
            <div class="col-md-4">
                <h3> Publisher Detail</h3>
                <div class="form-group">
                    <label>Publisher name </label><br>
                   
                    <input required minlength="1" [class.is-invalid]="pubname.invalid && pubname.touched" type="text" #pubname='ngModel' name="name" [(ngModel)]='obj1.books.publisher.publisherName' ngModel
                    class="form-control"> 
                <small class="text-danger" [class.d-none]="pubname.valid || pubname.untouched">Provide name of the Publisher</small>
                </div>

                <div class="form-group">
                    <label>Mobile Number: </label><br>
                     
                    <input required minlength="10" [class.is-invalid]="pubcont.invalid && pubcont.touched" type="number" #pubcont='ngModel' name="number" [(ngModel)]='obj1.books.publisher.contactno' ngModel
                    class="form-control">
                    <div *ngIf="pubcont.errors && (pubcont.invalid || pubcont.touched)" class="alert alert-danger">
                        <div *ngIf="pubcont.errors.required"> Contact number is required. </div>
                        <div *ngIf="pubcont.errors.pattern"> <h4> contain at least 10 digits in this field</h4></div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Email:</label>
                    <input required  [class.is-invalid]="pubemail.invalid && pubemail.touched" type="email" #pubemail='ngModel' name="email" [(ngModel)]='obj1.books.publisher.email' ngModel
                    class="form-control">
                <small class="text-danger" [class.d-none]="pubemail.valid || pubemail.untouched">publisher Email is required</small>
                </div>

                <div class="form-group">
                    <label>Address1:</label>
                    <input required minlength="1" [class.is-invalid]="pubadd1.invalid && pubadd1.touched" type="text" #pubadd1='ngModel' name="address" [(ngModel)]='obj1.books.publisher.address1' ngModel
            class="form-control">
            <small class="text-danger" [class.d-none]="pubadd1.valid || pubadd1.untouched">Address1 is required</small>
                </div>

                <div class="form-group">
                    <label>Address2: </label><br>
                    
                    <<input required minlength="1" [class.is-invalid]="pubadd2.invalid && pubadd2.touched" type="text" #pubadd2='ngModel' name="address" [(ngModel)]='obj1.books.publisher.address2' ngModel
                    class="form-control">         
                       <small class="text-danger" [class.d-none]="pubadd2.valid || pubadd2.untouched">Address2 is required</small>
                </div>

                <div class="form-group">
                    <label>City: </label><br>
                    <input required minlength="1" [class.is-invalid]="pubcity.invalid && pubcity.touched" type="text" #pubcity='ngModel' name="city" [(ngModel)]='obj1.books.publisher.city' ngModel
                    class="form-control">
                <small class="text-danger" [class.d-none]="pubcity.valid || pubcity.untouched">City is required</small>
                                          
                </div>

                <div class="form-group">
                    <label>State: </label><br>
                    <input required minlength="1" [class.is-invalid]="pubstate.invalid && pubstate.touched" type="text" #pubstate='ngModel' name="state" [(ngModel)]='obj1.books.publisher.state' ngModel
            class="form-control">
            <small class="text-danger" [class.d-none]="pubstate.valid || pubstate.untouched">State is required</small>
                </div>

                <div class="form-group">
                    <label>Pin Code: </label><br>
                    <input required minlength="1" [class.is-invalid]="pubpin.invalid && pubpin.touched" type="text" #pubpin='ngModel' name="pin" [(ngModel)]='obj1.books.publisher.pincode' ngModel
                    class="form-control">
                    <small class="text-danger" [class.d-none]="pubpin.valid || pubpin.untouched">Pin code is required</small>
                </div>
            </div>
                
             <div class="col-md-4">
                <h3> Order Book Detail</h3>
                
                    <div class="form-group">
                        <label>Order Book Quantity</label><br>
                       
                <input required  type="number" #pubname='ngModel' name="name" placeholder="Quantity" [(ngModel)]='obj1.quantity' ngModel
                class="form-control" [class.is-invalid]="pubname.invalid && pubname.touched">
                <small class="text-danger" [class.d-none]="pubname.valid || pubname.untouched">
                Quantity is mandatory</small>
                    </div>
                
                <div class="form-group">
                    <label>Order Date</label><br>
                   
            <input required  type="Date" #pubname='ngModel' name="name" placeholder="date of order" [(ngModel)]='obj1.orderDate' ngModel
            class="form-control" [class.is-invalid]="pubname.invalid && pubname.touched">
            <small class="text-danger" [class.d-none]="pubname.valid || pubname.untouched">
             Order Date is mandatory</small>
                </div>
                <div class="form-group">
                    <label>Order Status</label><br>
                   <!-- <select name="order" required>
                       <option value="Ordered"> Ordered</option>
                       <option value="Received"> Received</option>
                   </select> -->
             <input required  type="text" #pubname='ngModel' name="name" placeholder="order status" [(ngModel)]='obj1.orderStatus' ngModel
            class="form-control" [class.is-invalid]="pubname.invalid && pubname.touched">
            <small class="text-danger" [class.d-none]="pubname.valid || pubname.untouched">
             Order Status is mandatory</small> 
                </div>

            </div>

            </div>
        
        <div style="text-align: center; ">
            <input type="submit" style="margin-bottom: 50px;" value="Update Ordered Book" class="btn btn-primary">
        </div>
    </form>
</div>

<!-- [disabled]="!userForm.valid" -->