<!-- <h1>BOOK LIST</h1>        
<div class="container">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search by tilte" name="search" [(ngModel)]="searchvalue">
      </div>
<table class="table table-striped" *ngIf="bookList && bookList.length > 0  else elseBlock">
    <thead>
    <tr>
        <th >Book Id</th>
            <th>Title</th>
            <th>Subject</th>
            <th>Quantity</th>
            <th>Book Cost</th>
            <th>Shelf Details</th>
            <th>Publish Year</th>
            <th>Isbncode</th>
            <th>Author Id</th>
            <th>Author First Name</th>
            <th>Author Last Name</th>
            <th>Author Email</th>
            <th>Author Contact Number</th>
            <th>Publisher Name</th>
            <th>Publisher Contact Number</th>
            <th>Publisher Email</th>
            <th>Publisher Address1</th>
            <th>Publisher Address2</th>
            <th>Publisher City</th>
            <th>Publisher State</th>
            <th>Publisher Pincode</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of bookList | searchpipe:searchvalue" style="text-align: center;">
            <td>{{e.bookid}}</td>
            <td>{{e.title}}</td>
            <td>{{e.subject}}</td>
            <td>{{e.quantity}}</td>
            <td>{{e.bookCost}}</td>
            <td>{{e.shelfDetails}}</td>
            <td>{{e.publishedYear}}</td>
            <td>{{e.isbnCode}}</td>
             <td>{{e.author.authorId}}</td>
            <td>{{e.author.firstName}}</td>
            <td>{{e.author.lastName}}</td>
            <td>{{e.author.email}}</td>
            <td>{{e.author.contactno}}</td>
            <td>{{e.publisher.publisherName}}</td>
            <td>{{e.publisher.email}}</td>
            <td>{{e.publisher.address1}}</td>
            <td>{{e.publisher.address2}}</td>
            <td>{{e.publisher.city}}</td>
            <td>{{e.publisher.state}}</td>
            <td>{{e.publisher.pincode}}</td>

            <td >
                <i class="fas fa-trash" (click)=delete(e)></i>
            </td>
            <td>
             <i class="fas fa-edit" (click)=update(e)></i>
            </td>
            <td>
                <button type='button' (click)=damage(e) class="btn btn-danger" >add to damage</button>
               </td>
               <td>
                <button type='button' (click)=order(e) class="btn btn-success" >click to order</button>
               </td>
            <td>
        </tr>
    </tbody>
</table>
<div *ngIf="error" >
    <h4 class="alert alert-danger"> {{error}}</h4>
</div>
<ng-template #elseBlock>
    <h4 align="center"> There are no books to display,please add books! </h4>
</ng-template>

</div>
<div>
</div> -->


<script>
    // $('#myModal').on('shown.bs.modal', function () {
    //   $('#myInput').trigger('focus')
    // })
  </script>
  
  <div class="container" style="font-size: 20px; color: white;">
    <h1 align="center">
      View All Books</h1>
    <hr>
  
    <!-- <div class="form-group">
      <input type="text" class="form-control" placeholder="Search by scholarshipName" name="search" [(ngModel)]="searchvalue">
    </div> -->
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search by tilte" name="search" [(ngModel)]="searchvalue">
    </div>
  
    <div class="table-responsive-md">
      <div class="container">
        <table class="table" *ngIf="bookList && bookList.length > 0  else elseBlock">
          <thead class="thead-dark">
            <tr>
               <th >Book Id</th>
            <th>Title</th>
            <th>Subject</th>
            <!-- <th>Quantity</th>
            <th>Book Cost</th>
            <th>Shelf Details</th>
            <th>Publish Year</th>
            <th>Isbncode</th>
            <th>Author Id</th> -->
            <th>Author First Name</th>
            <!-- <th>Author Last Name</th>
            <th>Author Email</th>
            <th>Author Contact Number</th>
            <th>Publisher Name</th>
            <th>Publisher Contact Number</th>
            <th>Publisher Email</th>
            <th>Publisher Address1</th>
            <th>Publisher Address2</th>
            <th>Publisher City</th>
            <th>Publisher State</th>
            <th>Publisher Pincode</th> -->
            <th>Update</th>
            <th>Delete</th>
            <th>Damage</th>
            <th>Order</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let e of bookList | searchpipe:searchvalue" style="text-align: center;">
              <td>{{e.bookid}}</td>
            <td>{{e.title}}</td>
            <td>{{e.subject}}</td>
            <!-- <td>{{e.quantity}}</td>
            <td>{{e.bookCost}}</td>
            <td>{{e.shelfDetails}}</td>
            <td>{{e.publishedYear}}</td>
            <td>{{e.isbnCode}}</td>
             <td>{{e.author.authorId}}</td> -->
            <td>{{e.author.firstName}}</td>
            <!-- <td>{{e.author.lastName}}</td>
            <td>{{e.author.email}}</td>
            <td>{{e.author.contactno}}</td>
            <td>{{e.publisher.publisherName}}</td>
            <td>{{e.publisher.email}}</td>
            <td>{{e.publisher.address1}}</td>
            <td>{{e.publisher.address2}}</td>
            <td>{{e.publisher.city}}</td>
            <td>{{e.publisher.state}}</td>
            <td>{{e.publisher.pincode}}</td> -->
            <td> 
              <i class="fas fa-edit" (click)=update(e)></i>
           </td>
           <td>
              <i class="fas fa-trash" (click)=delete(e)></i>
           </td>
           <td>
              <button type='button' (click)=damage(e) class="btn btn-danger" >add to damage</button>
           </td>
           <td>
            <button type='button' (click)=order(e) class="btn btn-success" >click to order</button>
           </td>
            <td>
                <!-- Button trigger modal -->
                <button type="button" (click) = "onSubmit(e)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                  More Info
                </button>
  
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Book Info</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="container-fluid">
                        <div class="row">
                          <div class="col-md-6">
                            <h3>Book Details</h3>
                            <div class="form-group">
                              <label>Book Quantity </label><br>
                              <input readonly value={{e.quantity}} name="BookQuantity" class="form-control" />
                            </div>
                            <div class="form-group">
                              <label>Book Cost</label><br>
                              <input value={{e.bookCost}} name="BookCost" class="form-control" />
                            </div>
                            <div class="form-group">
                              <label>Shelf Details </label><br>
                              <input value={{e.shelfDetails}} name="ShelfDetails" class="form-control" />
                            </div>
                            <div class="form-group">
                              <label>Publish Year</label><br>
                              <input value={{e.publishedYear}} name="PublishYear" class="form-control" />
                            </div>
                            <div class="form-group">
                              <label>Isbncode</label><br>
                              <input value={{e.isbnCode}} name="Isbncode" class="form-control" />
                            </div>
                            <div class="form-group">
                              <label>Author Id</label><br>
                              <input value={{e.author.authorId}} name="Author Id" class="form-control" />
                            </div>
                            <div class="form-group">
                              <label>Author Last Name </label><br>
                              <input value={{e.author.lastName}} name="AuthorLastName" class="form-control" />
                            </div>
                            <div class="form-group">
                              <label>Author Email </label><br>
                              <input value={{e.author.email}} name="AuthorEmail" class="form-control" />
                            </div>
                            <div class="form-group">
                              <label>Author Contact Number</label><br>
                              <input value={{e.author.contactno}} name="contactno" class="form-control" />
                            </div>
                            <div class="form-group">
                              <label>Publisher Name</label><br>
                              <input value={{e.publisher.publisherName}} name="IFSC" class="form-control" />
                            </div>
                            <div class="form-group">
                              <label>Publisher Contact Number </label><br>
                              <input value={{e.publisher.contactno}} name="Contactno" class="form-control" />
                            </div>
                            
                            <div class="form-group">
                              <label>Publisher Email </label><br>
                              <input value={{e.publisher.email}} name="Email" class="form-control" />
                            </div>
                            <div class="form-group">
                              <label>Publisher Address1 </label><br>
                              <input value={{e.publisher.address1}} name="Address1" class="form-control" />
                            </div>
                            <div class="form-group">
                              <label>Publisher Address2</label><br>
                              <input value={{e.publisher.address2}} name="Address2" class="form-control" />
                            </div>
                            <div class="form-group">
                              <label>Publisher City</label><br>
                              <input value={{e.publisher.city}} name="City" class="form-control" />
                            </div>
                            <div class="form-group">
                              <label>Publisher State</label><br>
                              <input value={{e.publisher.state}} name="State" class="form-control" />
                            </div>
                            <div class="form-group">
                             <label>Publisher Pincode</label><br>
                              <input value={{e.publisher.pincode}} name="Pincode" class="form-control" />
                            </div>
                          </div>
                    
                        </div>
                      </div>
					  
					  <!-- <div class="modal-footer">
                         <i class="fas fa-edit" (click)=update(e)></i>
                      </div> -->
                      <!-- <div class="modal-footer">
                        <button type='button' (click)=damage(e) class="btn btn-danger" >add to damage</button>
                        <button type='button' (click)=order(e) class="btn btn-success" >click to order</button>
                      </div> -->
					  <!-- <div class="modal-footer">
                        <button type='button' (click)=order(e) class="btn btn-success" >click to order</button>
                        
                      </div> -->
                    </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <ng-template #elseBlock>
          <h4 align="center"> There are no Books to be displayed </h4>
        </ng-template>
  
      </div>
    </div>
